//
//  Secrets.xcconfig
//  Runner
//
//  Created by 陳耀奇 on 2021/8/2.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
INSTAGRAM_CLIENT_ID = 3889385914479307
INSTAGRAM_CLIENT_SECRET = f81e7fea8371f2e32bba93456aee5ada
REDIRECT_URI = https:/$()/github.com/ryder0064/
